  <!--== Slider Area Start ==-->
@model banger.Models.Bookings

@{
    Layout = "_Layout";
}
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            @if (TempData["message"] != null)
            {
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong> @TempData["message"]</strong>
                </div>

            }
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form method="post" enctype="multipart/form-data" asp-controller="vehicle" asp-action="bookings">
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Date ==-->
                            <div class="pick-up-date book-item">
                                <h4>PICK-UP DATE:</h4>
                                <input asp-for="PickUpDate" id="startDate" placeholder="Pick Up Date" />

                                <div class="return-car">
                                    <h4>Return DATE:</h4>
                                    <input asp-for="ReturnDate" id="endDate" placeholder="Return Date" />
                                </div>
                            </div>

                            <ul></ul>

                            <!--== Pick Up Location ==-->
                            <!--== Car Choose ==-->
                            <div class="choose-car-type book-item">
                                <h4>CHOOSE CAR TYPE:</h4>
                                <select asp-for="VehicleNo" class="custom-select">
                                    <option selected>Select</option>
                                    @foreach (var vehicle in ViewBag.data)
                                    {
                                        <option value=@vehicle.VehicleNo>@vehicle.VehicleType" .......        "@vehicle.Amount"Per KM"</option>
                                    }
                                </select>
                            </div>

                            <div class="choose-car-type book-item">
                                <h4>CHOOSE Equipment:</h4>
                                <select asp-for="Equipment" class="custom-select">
                                    <option selected>Select</option>
                                    @foreach (var addOn in ViewBag.addOn)
                                    {
                                        <option value=@addOn.Equipment>@addOn.Equipment"........RS"@addOn.Amount</option>
                                    }
                                </select>
                            </div>
                            <div class="pick-up-date book-item">
                                <h4>License No</h4>
                                <input asp-for="LicenseNo" id="startDate" placeholder="License Number" />


                            </div>



                            <div class="return-car">
                                <h4>Upload Driving Liscens:</h4>
                                <input asp-for="Pic" type="file">
                            </div>
                            <!--== Car Choose ==-->

                            <div class="book-button text-center">
                                <button class="book-now-btn">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK A CAR TODAY!</h1>
                                <p>FOR AS LOW AS RS 30 AN HOUR PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->
<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>
                                Today, we process over 6 billion queries across our platforms each year for travel information, helping millions of travelers around the globe make confident decisions. With every query, Banger searches hundreds of travel sites to show travelers the information they need to find the right flights, hotels, rental cars and vacation packages.

                                In over a decade, we've grown from a small office of 14 employees into a company of over 1,000 travel-loving teammates working across 7 international brands; KAYAK, SWOODOO, checkfelix, momondo, Cheapflights, Mundi and HotelsCombined. Together, we help people experience the world by creating their favorite travel tools.
                            </p>
                           <div class="about-btn">
                                <a asp-controller="user" asp-action="cars">Book a Car</a>
                                <a asp-controller="user" asp-action="about">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-video">
                    <iframe src="https://player.vimeo.com/video/121982328?title=0&byline=0&portrait=0"></iframe>
                </div>
            </div>
            <!-- About Video End -->
        </div>
    </div>
</section>
<!--== About Us Area End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>


        <!-- Service Content Start -->
        <div class="row">
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-taxi"></i>
                    <h3>RENTAL CAR</h3>
                    <p></p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-cog"></i>
                    <h3>CAR REPAIR</h3>
                    <p></p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-map-marker"></i>
                    <h3>TAXI SERVICE</h3>
                    <p></p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-life-ring"></i>
                    <h3>life insurance</h3>
                    <p></p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-bath"></i>
                    <h3>car wash</h3>
                    <p></p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-phone"></i>
                    <h3>call driver</h3>
                    <p></p>
                </div>
            </div>
            <!-- Single Service End -->
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->
<!--== Fun Fact Area Start ==-->
<section id="funfact-area" class="overlay section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
                <div class="funfact-content-wrap">
                    <div class="row">
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">550</span>+</p>
                                    <h4>HAPPY CLIENTS</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-car"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">250</span>+</p>
                                    <h4>CARS IN STOCK</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">50</span>+</p>
                                    <h4>office in cities</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Fun Fact Area End ==-->

<!--== Pricing Area Start ==-->
<section id="pricing-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Only quality for clients</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                  
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Pricing Table Conatent Start -->
        <div class="row">
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>BUSINESS</h3>
                    <h2>$ 55.99</h2>
                    <h5>PER MONTH</h5>

                    <ul class="package-list">
                        <li>FREE VEHICLE DELIVERY</li>
                        <li>WEDDINGS CELEBRATIONS</li>
                        <li>FULL INSURANCE INCLUDED</li>
                        <li>TRANSPORT ABROAD</li>
                        <li>ALL INCLUSIVE MINI BAR</li>
                        <li>CHAUFFER INCLUDED IN PRICE</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>Trial</h3>
                    <h2>Free</h2>
                    <h5>PER MONTH</h5>

                    <ul class="package-list">
                        <li>FREE VEHICLE DELIVERY</li>
                        <li>OTHER CELEBRATIONS</li>
                        <li>FULL INSURANCE</li>
                        <li>TRANSPORT ABROAD</li>
                        <li>MINI BAR</li>
                        <li>INCLUDED IN PRICE</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
            <!-- Single Pricing Table -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-pricing-table">
                    <h3>standard</h3>
                    <h2>$ 35.99</h2>
                    <h5>PER MONTH</h5>

                    <ul class="package-list">
                        <li>DELIVERY AT AIRPORT</li>
                        <li>WEDDINGS AND OTHER</li>
                        <li>FULL INCLUDED</li>
                        <li>TRANSPORT ABROAD</li>
                        <li>ALL MINI BAR</li>
                        <li>CHAUFFER PRICE</li>
                    </ul>
                </div>
            </div>
            <!-- Single Pricing Table -->
        </div>
        <!-- Pricing Table Conatent End -->
    </div>
</section>
<!--== Pricing Area End ==-->

<!--== Mobile App Area Start ==-->
<div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2>SAVE 30% WITH THE APP</h2>
                    <p>Easy &amp; Fast - Book a car in 60 seconds</p>
                    <div class="app-btns">
                        <a href="#"><i class="fa fa-android"></i> Android Store</a>
                        <a href="#"><i class="fa fa-apple"></i> Apple Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Mobile App Area End ==-->
